/* Body section*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body.index {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    font: 14px/1.3em 'open_sansregular', 'Arial', 'Tahoma', sans-serif;
    color: white;
}

/*Scrollbar section*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #667081;
}

/* Img section*/
img {
    height: 200px;
    width: 200px;
    border: 1px solid #fff;
    border-radius: 50%;
}

img.sidebar-image {
    height: 150px;
    width: 150px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 5px;
}

/* Greeting box section */
div.greeting-box {
    width: 470px;
    display: block;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h1.greeting-box {
    display: block;
    position: static;
    font: 45px/48px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
    font-weight: 700;
    margin: 5px 0 5px 0;
}

h2.greeting-box {
    display: block;
    font: 30px/33px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
    margin: 5px 0 5px 0;
}

p.greeting-box {
    display: block;
    margin: 5px 0 5px 0;
}

a#know-more {
    border-radius: 5px;
    padding: 20px 10px;
    font: 20px/5px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
    background-color: #000614;
    display: block;
    margin: 5px 150px 0 150px;
    color: #ffffff;
    text-decoration: none;
}

a#know-more:hover {
    background-color: #26C17E;
}

/* Sidebar section */
#sidebar {
    top: 0;
    left: 0;
    width: 250px;
    background: #222935;
    height: 100%;
    position: fixed;
    text-align: center;
    color: white;
    float: left;
}

/*Sidebar table section */
table.sidebar-table {
    font: 20px/33px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
    list-style-type: none;
    width: 100%;
    padding: 0;
    text-align: left;
    color: #667081;
}

table.sidebar-table tr:hover {
    color: #26C17E;
}

table.sidebar-table tr td {
    border-bottom: 1px dashed #667081;
    padding: 10px 0;
    padding-left: 0.5cm;
}

table.sidebar-table tr:nth-of-type(1) td {
    border-top: 1px dashed #667081;
}

/*Go back button*/
#go-back {
    font: 20px/33px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: 30%;
}

#go-back a {
    color: white;
    text-decoration: none;
}

/*Hide sidebar section*/
#hide-sidebar {
    top: 10px;
    margin-right: -48px;
    right: 0;
    margin-top: 5px;
    position: absolute;
    background: #222935;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    padding: 14px;
    box-sizing: border-box;
}

/*Content section*/
.content {
    margin: 40px;
    padding-left: 260px;
    padding-top: 20px;
}

.headings {
    font: 25px/28px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
    color: #26C17E;
    font-weight: 900;
    margin-bottom: 50px;
}

#about-me {
    margin-bottom: 40px;
}

/*Education table section*/
.education-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.education-table tbody td:nth-child(3) {
    width: 90%;
    background: #eeeeee;

}

.education-table tbody td:nth-child(3) h1 {
    font: 16px/19px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
    font-weight: 900;
    margin: 0;
}

.education-table tbody tr:first-child td {
    background: none;
}

.education-table tbody tr:first-child td:first-child {
    border-image: -webkit-linear-gradient(top, white 7%, #26C17E 80%) 0 100% 10 1/0 6px 0 0 stretch
}

.education-table tbody tr:last-child td:first-child {
    border-image: -webkit-linear-gradient(bottom, white 7%, #26C17E 80%) 0 100% 10 1/0 6px 0 0 stretch
}

.cell-title {
    margin: 0;
    padding-bottom: 5px;
}

.talk-bubble {
    background: #eeeeee;
    position: relative;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
}

td[colspan="2"] {
    height: 40px;
    text-align: center;
}

.talk-bubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 15px solid #eeeeee;
    border-bottom: 13px solid transparent;
}

.rigth-border {
    border-right: thick solid #26C17E;
}
