/* Each section must be commented*/
article {
    display: block;
    background-color: chartreuse;
    opacity: 0.7;
}

article:hover {
    opacity: 1.0;
}

/* Each section must be commented*/
nav {
    display: block;
    overflow: visible;
    background-color: azure;
    opacity: 0.7;
}

nav:hover {
    opacity: 1.0;
}

/* Each section must be commented*/
form {
    display: block;
    overflow: visible;
    background-color: beige;
    opacity: 0.7;
}

form:hover {
    opacity: 1.0;
}

/* Body section*/
body {
    opacity: 0.7;
}

body.index {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    font: 14px/1.3em 'open_sansregular', 'Arial', 'Tahoma', sans-serif;
    color: white;
}

/* Img section*/
img {
    height: 200px;
    width: 200px;
    border: 1px solid #fff;
    border-radius: 50%;
}

/* Greeting box section */
div.greeting-box {
    width: 470px;
    display: block;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

p1.greeting-box {
    display: block;
    position: static;
    font: 45px/48px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
    font-weight: 700;
    margin: 5px 0 5px 0;
}

p2.greeting-box {
    display: block;
    font: 30px/33px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
    margin: 5px 0 5px 0;
}

p.greeting-box {
    display: block;
    margin: 5px 0 5px 0;
}

a#know-more {
    border-radius: 5px;
    padding: 20px 10px;
    font: 20px/5px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
    background-color: #000614;
    display: block;
    margin: 5px 150px 0 150px;
    color: #ffffff;
    text-decoration: none;
}

a#know-more:hover {
    background-color: #26C17E;
}

